:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

.table-overflow {
  overflow: scroll;
  overflow-y: hidden;
}

.drawer-form-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* responsive classes */

@media (max-width: 768px) {
  .chart-container {
    flex-direction: column;
  }
}

@media (max-width: 480px) {
  .view-header-container {
    flex-direction: column;
    align-items: baseline;
    margin-bottom: 1rem;
  }
}